body {
  background-image: url("https://cdn.dribbble.com/users/375867/screenshots/1614211/apple-farm-village-garden-forest-game-background-game-assets-gui-sidescroller-horizontal-wallpaper-dribbble.png")
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;

}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
  z-index: 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
